body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fbc2eb, #a6c0fe);
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input, select {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    background-color: #fff;
}

select {
    background-color: #fff;
}

main {
    padding: 20px;
}

.chart-container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    margin: 0 0 20px;
    font-size: 1.5em;
    color: #333;
}

canvas {
    width: 100% !important;
    height: 400px !important;
}
